.about-me-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 70px 0 0;
}

.about-me-box {
    padding: 0;
    max-width: 570px;
    width: 84vw;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 30px;
    img {
        width: 100%;
        line-height: 0px;
    }
    h2 {
        margin-top: 175px;
    }
}
.about-me-tag-2 {
    display: none;
}
.about-me-tag-1 {
    position: absolute;
    left: -104px;
    top: 0px;
    text-align: right;
    p {
        padding: 3px 9px 3px 3px;
        margin: 0;
    }
}
.about-me-left {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.email {
    margin: 40px 0 20px;
    color: $blue;

}

.about-me-right {
    p {
        color: $darkgray;
        font-size: 1.4rem;
        line-height: 21px;
        font-family: 'Noto Sans', sans-serif;
    }
}

@media (max-width: 776px) {
    .about-me-contents {
        padding: 10px 0 0;
    }
    .about-me-tag-1 {
        display:none;
    }
    .about-me-tag-2 {
        display: inline-block;
        text-align: right;
        width: 72px;
        margin: 13px auto 25px;
        transform: translateX(-34px);
        p {
            padding: 3px 9px 3px 3px;
            margin: 0;
        }
    }
}

@media (max-width: 510px) {
    .about-me-box {
        grid-template-columns: 1fr;
        h2 {
            margin-top: 28px;
        }
    }
}