.contact-me {
    background-color: $background;
}

.contact-contents {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-box {
    padding: 20px 0;
    max-width: 770px;
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 30px;
}


form {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    input {
        background-color: $background;
        border: none;
        width: 100%;
        border-bottom: 1px solid $darkgray;
        margin: 0 0 20px 0;
    }
    input.name-input {
        border-bottom: 1px solid $blue;
    }
    label.name-input {
        padding-left: 7px;
    }
    .email-input {
        color: $darkgray;
    }
    label.email-input {
        padding-left: 7px;
    }
    textarea {
        background-color: $background;
        width: 100%;
        height: 200px;
        border: none;
        border-left: 1px solid $darkgray;
        border-bottom: 1px solid $darkgray;
        resize: none;
        padding: 7px;
    }
    button {
        background-color: $background;
        border: none;
        cursor: pointer;
        margin: 20px 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 4rem;
    a {
        padding: 10px 10px 0 0;
        text-decoration: none;
        color: $blue;
    }
}

.backtop {
    margin: 10px 0;
    align-self: flex-end;
    font-size: clamp(1.5rem, 5.5vw, 3rem);
}
.number-holder:last-of-type {
    width: calc(50% - 74px);
    display: flex;
}

@media (max-width: 800px) {
    .contact-box {
        width: 60vw;
        grid-template-columns: 1fr;
    }
    .number-holder:last-of-type {
        width: calc(50% - 54px);
    }
}