.projects {
    background-color: white;
}
.projects-box {
    max-width: 770px;
    width: 63vw;
    margin: 0 auto;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 100%;
    }
    .project-image, .project-article {
        width: calc(50% - 15px);
        padding: 30px 0;
    }
    .project-links {
        text-align: center;
    }
}

.made-with {
    ul {
        display: flex;
        justify-content: left;
        padding: 0;
        width: 60%;
        margin: 0;
        li {
            list-style: none;
            padding: 0 10px;
            width: 90px;
            text-align: center;
            img {
                width: 40px;
            }
            p {
                text-transform: uppercase;
                font-size: 1.1rem;
                color: $darkgray;
            }
        }
        li:first-of-type {
            padding-left: 0;
            // margin-left: -5px;
        }
    }
}

@media (max-width: 940px) {
    .project:nth-of-type(1),
    .project:nth-of-type(3),
    .project:nth-of-type(5),
    .project:nth-of-type(7) {
        flex-direction: column;
    }
    .project:nth-of-type(2),
    .project:nth-of-type(4),
    .project:nth-of-type(6),
    .project:nth-of-type(8) {
        flex-direction: column-reverse;
    }
    .project .project-image, 
    .project .project-article {
        max-width: 475px;
        width: 94%;
    }
    .project .project-image {
        padding-bottom: 0;
    }
    .project .project-article {
        padding-top: 0;
    }
    .projects-box {
        width: 80vw;
    }
}