.skills {
    padding: 0;
    background-color: $background;
    article {
        text-align: center;
        padding: 20px 20px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        p {
            margin-bottom: 0;
        }
        img {
            width: 100%;
        }
    }
}

.skills-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-box {   
    margin: 20px auto;
    padding: 20px 0;
    max-width: 630px;
    width: 60vw;
    min-width: 580px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
}
.skills-box-extras {
    margin: 0 auto;
    display: flex;
    // flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: space-between;
    max-width: 630px;
    width: 60vw;
    article {
        width: calc(100% / 3);
    };
    img {
        max-width: 95px;
    }
}

@media (max-width: 850px) {
    .skills-box {   
        margin: 1vw auto;
        padding: 1vw 0;
        max-width: 447px;
        width: 90vw;
        min-width: 290px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 2vw;
    }
    .skills-box-extras {
        max-width: 447px;
        width: 90vw;
        // min-width: 290px;
    }
}

@media (max-width: 850px) {
    .skills-box {   
        gap: 1vw;
    }
}

@media (max-width: 400px) {
    .skills-box article {
        padding: 20px 9px 0;
        width: 81%;
    }
    .skills-box-extras {
        // max-width: 300px;
        // width: 95vw;
        article {
            padding: 20px 9px;
            width: 81%;
        }
    }
}