// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;

html {
    font-size: 62.5%;
    // scroll-behavior: smooth; --navtip
}

body {
    margin: 0;
}

.inner-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 30px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
}

.tag {
    background-color: $blue;
    color: white;
    display: inline-block;
}
.tag-template {
    width: 100px;
    margin: 0 auto;
    padding: 40px 0 20px;
    p {
        padding: 3px 9px 3px 3px;
    }
}
a {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    // color: $blue;
    // text-decoration: underline wavy;
    background-color: $yellow;
}
a:visited {
    color: purple;
}
