// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;

html {
    font-size: 62.5%;
    // scroll-behavior: smooth; --navtip
}

body {
    margin: 0;
    // padding: 0;
    // display: grid;
    // grid-template-columns: 1fr min-content;
}

// .outer-wrapper {
//     // width: 1720px;
//     // margin: 0 auto;
//     // position: relative;
//     color: black;
//     margin: 0;
//     padding: 0;
// }

.inner-wrapper {
    max-width: 1170px;
    // border: 2px solid $yellow;
    margin: 0 auto;
    // // text-align: center;
    // // margin: 0;
    // padding: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 30px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
}

.tag {
    background-color: $blue;
    color: white;
    display: inline-block;
}
.tag-template {
    width: 100px;
    margin: 0 auto;
    padding: 40px 0 20px;
    p {
        padding: 3px 9px 3px 3px;
    }
}
a,
a:visited {
    color: black;
}

.contents-box {
    width: 570px;
    // border: 1px solid #000;
    margin: 0 auto;
    // height: 300px;
    position: relative;
    display: grid;
    grid-template-columns: 270px 270px;
    // grid-template-rows: 1fr;
    gap: 0px 30px;
    img {
        width: 100%;
        line-height: 0px;
    }
}

