// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans', sans-serif;

html {
    font-size: 62.5%;
    // scroll-behavior: smooth; --navtip
}
body {
    margin: 0;
}
main {
    overflow-x: hidden;
}
.inner-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

h2 {
    background-color: $blue;
    color: white;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
}
.tag-template {
    width: 100px;
    margin: 0 auto;
    padding: 40px 0 20px;
    h2 {
        padding: 3px 9px 3px 3px;
    }
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 30px;
}
h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-style: italic;
    // text-decoration: underline;
    // line-height: 30px;
}
p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.4rem;
}
a {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
}
.side-nav a:hover,
.num-and-arrow a:hover,
.about-me a:hover,
.skills a:hover,
.projects a:hover,
.contact-me a:hover {
    // color: $blue;
    // text-decoration: underline wavy;
    background-color: $yellow;
}
a:visited {
    color: purple;
}
.ital {
    font-style: italic;
}
