.side-nav {
    top: 40vh;
    left: 50%;
    transform: translateX(46%);
    ul {
      line-height: 120%;
    }
}
.side-nav-mobile {
    display: none;
    top: 5vh;
    right: 0;
    ul {
      line-height: 120%;
      li::before {
            content: '—'
        }
    }
}
.circle {
    background: $blue;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.side-nav, 
.side-nav-mobile {
    z-index: 10;
    position: fixed;
    border-top: 1.5px solid $blue;
    width: 1000px;
    height: 1px;
    overflow: hidden;
    animation: incoming 300ms cubic-bezier(0.625, 0.380, 0.880, 1.260) 200ms 1,
    rolldown 1.1s linear 600ms 1 forwards;
    ul {
        font-size: 2.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            white-space: nowrap;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.4rem;
            a {
                padding: 8px;
                text-decoration: none;
            }
            a:hover {
                background-color: $yellow;
                color: black;
            }
        }
    }
}

nav ul li a.current {
  background: $blue;
  color: white;
}

@keyframes incoming {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(46%);
  }
}
@keyframes rolldown {
  0% {
    height: 1px;
  }
  100% {
    height: 100%;
  }
}

@media (max-width: 1170px) {
  .side-nav {
    left: 89.5%;
    transform: translateX(0%);
    width: 125px;
  }
}

@media (max-width: 776px) {
  .side-nav {
      display:none;
  }
}